*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #040D12;
}

nav div a img{
    border-radius: 120%;
}

body{
    background-color: #183D3D;
}

.carrusel{
    width: 62.5rem;
}

@media (max-width: 575px) {
    .carrusel{
        width: 300px;
    }
    .cards{
        flex-direction: column;
    }
  }
  @media (max-width: 1000px){
    .cards{
        flex-wrap: wrap;

    }
  }